.customSelect {
  width: 100%;
  position: relative;
  font-family: 'Inter', sans-serif;
  margin-bottom: 20px;

  .selected {
    padding: 12px 16px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-input);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-body);
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
    margin-top: 5px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 0 3px rgba(44, 80, 132, 0.25);
      outline: none;
    }

    .arrow {
      width: 12px;
      height: 12px;
      border-left: 2px solid var(--primary-color);
      border-bottom: 2px solid var(--primary-color);
      transform: rotate(-45deg);
      transition: transform 0.2s ease;
      margin-left: 8px;
    }


  }

  .optionsList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 4px 0 0 0;
    padding: 0;
    list-style: none;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-input);
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;

    li {
      padding: 10px 16px;
      cursor: pointer;
      transition: background 0.2s ease;

      &:hover {
        background-color: rgba(44, 80, 132, 0.1);
      }
    }
  }
}
