.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-family: var(--font-poppins);
  position: relative;

  >div {
    width: 100%;

    .title {
      font-size: var(--font-size-h2);
      font-weight: 400;

      >span {
        font-weight: 600;
      }

    }

    .desc {
      margin-top: 10px;
      font-size: 1.1rem;
    }

  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin-top: 40px;
    width: 100%;

    .wrapperLeft {
      width: 40%;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      gap: 30;

      .customSelect {
        width: 75%;
      }
    }

    .wrapperCenter {
      width: 20%;
      height: 72%;
      display: flex;
      align-items: end;
      justify-content: center;
    }

    .wrapperRight {
      width: 40%;
      font-weight: 500;

      .pickerContainer {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        color: var(--font-color-gray);
        font-family: 'Arial', sans-serif;
        display: flex;
        flex-direction: row;
        margin-top: 5px;

        .picker {
          padding: 0 1rem;
          display: flex;
          flex-direction: column;

          .day {
            border-radius: 50%;
            transition: background-color 0.2s;

            &:hover:not(.disabled, .selected) {
              background-color: #f0f0f0;
            }
          }

          .selected {
            background-color: var(--blue) !important;
            color: white !important;
          }

          .today {
            background-color: var(--gray-300);
            color: var(--secondary-color) !important;

            :hover {
              color: var(--gray-300);
            }
          }

          p {
            margin-bottom: 10px;
            text-align: center;
            margin-top: 1rem;
          }

        }

        .containerTime {
          width: 50%;
          border-left: 1px solid var(--primary-color);
          text-align: center;
          font-weight: bold;

          .timeList {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            list-style: none;
            margin: 12px 0 0 12px;
            padding: 0;
            height: 80%;
            overflow-y: auto;
            min-height: 0;
            align-content: flex-start;

            &::-webkit-scrollbar {
              width: 8px;
              height: 100px;
            }

            &::-webkit-scrollbar-track {
              background: #f0f0f0;
              border-radius: 8px;
            }

            &::-webkit-scrollbar-thumb {
              background: #2c5184be;
              border-radius: 8px;
            }

            &::-webkit-scrollbar-thumb:hover {
              background: #2c5084;
            }

            p {
              margin-top: 13px;
            }

            .time {
              background: #ffffff;
              border: 1px solid var(--primary-color);
              border-radius: 5px;
              color: var(--primary-color);
              cursor: pointer;
              overflow-y: auto;
              min-height: 0;
              font-weight: normal;

              &:hover {
                background-color: #2c518410;
                transition: background-color 0.5s;
              }


              @media (max-width: 768px) {
                ul {
                  grid-template-columns: repeat(2, 1fr) !important;
                }
              }
            }

            .selectedTime {
              background-color: var(--blue);
              color: white;
              border-color: var(--blue);
              font-weight: bold;
              border-radius: 5px;
            }


          }

          @media (max-width: 768px) {
            ul {
              grid-template-columns: repeat(2, 1fr) !important;
            }
          }
        }
      }
    }
  }
}
