.container {
  color: var(--secondary-color);
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  font-size: var(--font-size-body);

  a:hover {
    transition: color 0.5s ease-in-out;
    opacity: 0.8;
  }

  .profile {
    position: relative;
    display: flex;
    cursor: pointer;

    span {
      display: flex;
      align-items: center;
      gap: 3px;
    }
  }

  .profile .dropdownMenu {
    position: absolute;
    background-color: var(--primary-color);
    top: 100%;
    right: 0;
    padding: 0;
    list-style-type: none;
    border-radius: 8px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .dropdownMenu.open {
    opacity: 1;
    pointer-events: auto;
  }

  .dropdownMenuItem {
    padding: .7rem 1rem;
    font-size: .9rem;
  }

  .logout {
    padding: .7rem 1rem;
    font-size: .9rem;
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .logout:hover,
  .dropdownMenuItem:hover {
    background-color: rgba(88, 123, 173, 0.854);
    border-radius: 8px;
  }
}
