.button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 75%;
  margin-top: 10px;
  border-radius: 20px;
  height: 45px;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-body);
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  &:hover {
    opacity: 0.9;
    transition: color 0.2s ease-in-out;
  }
}