.background {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;

  .bgImage {
    object-fit: cover;
    z-index: -1;
    animation: zoomOut 8s ease-out forwards;
    transform: scale(1.2); 
  }

  @keyframes zoomOut {
    from {
      transform: scale(1.2);
    }

    to {
      transform: scale(1);
    }
  }

  a {
    .logo {
      background-image: url('/logo-teste.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 480px;
      height: 140px;
      max-width: 500px;
      max-height: 180px;
      position: absolute;
      margin-left: 50px;
    }
  }
}
