.container {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-family: var(--font-poppins);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  gap: 1rem;
  z-index: 0;
  position: relative;

  .wrapper {
    width: 100%;
    margin-top: 160px;
    display: flex;
    justify-content: center;

    >div {
      width: 71.5%;

      .title {
        font-size: var(--font-size-h2);
        margin-bottom: 1rem;
        font-weight: 400;

        >span {
          font-weight: 600;
        }
      }
    }
  }
}
