.container {
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  z-index: 999;
  padding: 1px 0;
  width: 100%;
  position: fixed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  .wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .wrapper>div {
    display: flex;
    width: 90%;
    gap: 4rem;
    margin: 0 auto;

    &:last-child {
      gap: 1rem;
    }
  }

  .containerMenu {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    a {
      .logo {
        background-image: url('/logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 400px;
        height: 100px;
      }

      @media (max-width: 768px) {
        .logo {
          width: 350px;
          height: 70px;
        }
      }
    }

    a {
      cursor: pointer;
    }
  }

  .containerMenuMobile {
    display: none;
  }

  .mobile {
    display: none;
    color: var(--secondary-color);
  }

  @media (max-width: 1201px) {
    .wrapper>div {
      width: 80%;
    }
  }

  @media (max-width: 990px) {
    >section {
      width: 80%;
    }

    .wrapper>div {
      width: 95%;

      .container-menu {
        justify-content: start;
      }

      nav {
        display: none;
      }

      .containerMenuMobile {
        display: flex;
        align-items: center;
        justify-content: center;

        .mobile {
          display: initial;
          cursor: pointer;
          color: var(--secondary-color);
        }
      }
    }

  }

  @media (max-width: 700px) {
    >section {
      width: 90%;
    }

    padding: 14.5px 0px;

    .container-menu {
      justify-content: start;
    }

    .container-menu a h1 {
      font-size: 25px;
    }
  }
}
