.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-family: var(--font-poppins);
  position: relative;

  >div {
    width: 100%;

    .title {
      font-size: var(--font-size-h2);
      font-weight: 400;

      >span {
        font-weight: 600;
      }
    }

    .desc {
      margin-top: 10px;
      font-size: 1.1rem;
    }
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    .wrapperTop {
      width: 100%;
      height: fit-content;
      font-weight: 500;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 30px;

      >div {
        width: 50%;
      }
    }

    .wrapperTable {
      width: 100%;
      height: 100%;
      font-weight: 500;
      margin-bottom: 40px;
      background-color: var(--gray-50);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      max-height: 500px;
      overflow-y: auto;

      .tabelAppointments {
        width: 100%;
        height: 100%;
        border-collapse: separate;
        border-spacing: 0 10px;
        border-radius: 20px;
        table-layout: fixed;
        margin-top: -10px;

        thead {
          background-color: #fdecee;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          border-radius: 30px;
          width: 100%;

          tr {
            display: grid;
            grid-template-columns: 90px 1.6fr 1.6fr 0.9fr;
            width: 98%;
            margin: 0 auto;

            th {
              padding: 12px;
              font-weight: 400;
              color: var(--primary-color);

              &:first-child {
                margin-left: 10px;
              }

              &:nth-child(2) {
                margin-left: 10px;
              }

              &:last-child {
                text-align: left;
              }
            }
          }
        }

        tbody {
          font-size: 0.9rem;
          font-weight: 400;
          width: 100%;
          overflow-y: auto;
          margin-left: 25px;

          .linha {
            display: grid;
            grid-template-columns: 90px 1.6fr 1.6fr 0.9fr;
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
            margin: 0 20px 30px 20px;
            height: 45px;

            .time {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #001f7a;
              color: #fff;
              border-top-left-radius: 20px;
              border-bottom-left-radius: 20px;
              font-size: 1.25rem;
              font-weight: 600;
            }

            .specialty {
              margin: auto;
            }

            .doctor {
              margin: auto;
            }

            .crm {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;

              .crmNumber {
                width: 58%;
              }

              .actions {
                display: flex;
                gap: 8px;
                width: 30%;
                justify-content: right;

                .edit {
                  color: #1a4dd6;
                  background: none;
                  border: none;
                  cursor: pointer;
                }

                .delete {
                  color: #e63946;
                  background: none;
                  border: none;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      &::-webkit-scrollbar {
        width: 8px;
        height: 100px;
      }

      &::-webkit-scrollbar-track {
        background: #f0f0f0;
        border-radius: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background: #2c5184be;
        border-radius: 8px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #2c5084;
      }
    }
  }
}
