.page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-family: var(--font-poppins);
  position: relative;

  >div {
    width: 100%;

    .title {
      font-size: var(--font-size-h2);
      margin-bottom: 1rem;
      font-weight: 400;
    }
  }

  form {
    width: 100%;
    margin-bottom: 20px;

    .container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 40px;

      .wrapperLeft {
        width: 50%;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        gap: 30;
      }

      .wrapperRight {
        width: 50%;
        font-weight: 500;

        .picker {
          background-color: white;
          border-radius: 8px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          color: var(--font-color-gray);
          font-family: 'Arial', sans-serif;
          margin-top: -15px;
          width: 100%;
          max-width: 420px;
          padding: 0 1rem;

          .calendar {
            width: 100%;
            margin: 20px;
            text-align: center;
            padding-bottom: 10px;
          }

          .day {
            width: 36px;
            height: 36px;
            margin: 0.1rem;
            border-radius: 50%;
            transition: background-color 0.2s;

            &:hover:not(.disabled, .selected) {
              background-color: #f0f0f0;
            }
          }

          .selected {
            background-color: var(--blue) !important;
            color: white !important;
          }

          .today {
            background-color: var(--gray-300);
            color: var(--secondary-color) !important;

            :hover {
              color: var(--gray-300);
            }
          }
        }
      }

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;

        .wrapperLeft,
        .wrapperRight {
          width: 100%;

        }

        .wrapperRight {
          margin-bottom: 10px;

        }
      }
    }

    .wrapperCenter {
      width: 100%;
      display: flex;
      align-items: end;
      justify-content: center;
    }
  }
}
