.container {
  color: var(--secondary-color);
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  font-size: var(--font-size-body);
  a:hover {
    transition: color 0.5s ease-in-out;
    opacity: 0.8;
  }
}
