.container {
  margin-bottom: 20px;
  font-size: var(--font-size-body);

  .inputContainer {
    margin-top: 3px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-input);
    padding: 12px;
    width: 75%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    input:disabled {
      cursor: not-allowed;
    }

    input {
      flex: 1;
      border: none;
      outline: none;
      background: transparent;
      font-size: var(--font-size-body);
      font-size: 1rem;
      color: var(--primary-color);

      &::placeholder {
        color: #8a87ac;
        font-style: italic;
        font-size: 14px;
      }

      &[type='number']::-webkit-outer-spin-button,
      &[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .icon {
      color: var(--font-color-gray);
    }

    .iconRight {
      font-size: var(--font-size-body);
      color: var(--font-color-gray);
      cursor: pointer;
    }

    .iconButton {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--font-size-body);
      transition: color 0.2s ease-in-out;
    }
  }

  @media (max-width: 768px) {
    .inputContainer {
      width: 100%;
    }
  }
}
