.container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(34deg,
      rgba(44, 80, 132, 0.95) 0%,
      rgba(20, 40, 66, 0.95) 95%);
  opacity: 0;
  pointer-events: none;
  transform: translateY(50px);
  transition: 0.5s;
  color: var(--secondary-color);

  >svg {
    position: absolute;
    top: 1rem;
    right: 1rem;
    transform: rotate(45deg);
    transition: 0.7s;
    cursor: pointer;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: scale(0.7);
    transition: 0.7s;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    a {
      margin-bottom: 0.5rem;
      cursor: pointer;
      font-size: 1.2rem;

      &:hover {
        color: var(--gray-300);
      }
    }
  }
}

.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);

  >svg {
    transform: rotate(0);
  }

  nav {
    transform: scale(1);
  }
}
