.container{
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-family: var(--font-poppins);
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  gap: 1rem;
  .wrapper{
    width: 100%;
    margin-top: 160px;
    display: flex;
    justify-content: center;
    > div{
      width: 71.5%;
      .title{
        font-size: 30px;
        margin-bottom: 1rem;
        font-weight: 400;
        >span{
          font-weight: 600;
        }
      }
    }
  }
}

