
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  background: white;
  .container{
    width: 71.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin-top: 40px;
    .wrapperLeft{
      width: 50%;
      //background: rgba(137, 43, 226, 0.089);
    }
    .wrapperRight{
      width: 50%;
      background: rgba(226, 80, 43, 0.089);
    }
  }
}