.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-sora);
  .formWrapper {
    z-index: 1;
    position: absolute;

    .container {
      //background-color: #d9d9d981;
      background-color: #c9c9c948;
      width: 480px;
      min-height: 430px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

      .formOptions {
        width: 100%;
        min-height: 70px;
        display: flex;
        flex: row;
        color: var(--primary-color);
        justify-content: space-between;
        border-bottom: 1px solid var(--primary-color);

        .seletedButton {
          background-color: transparent;
          color: var(--primary-color);
        }

        button {
          width: 50%;
          background-color: var(--primary-color);
          border: none;
          font-size: var(--font-size-h2);
          font-weight: normal;
          color: var(--secondary-color);
          cursor: pointer;

          &:first-child {
            border-top-left-radius: 20px;
          }
          &:last-child {
            border-top-right-radius: 20px;
          }
        }
      }

      .title {
        text-align: center;
        font-size: 1.75rem;
        font-weight: 400;
        color: var(--primary-color);
        margin-top: 20px;
        margin-bottom: 10px;
      }

      .formArea {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
        }
      }

      .links {
        margin-top: 10px;
        text-align: center;
        font-size: 0.9rem;
        color: var(--secondary-color);
        margin-bottom: 20px;

        a {
          font-weight: 800;
          text-decoration: underline;
        }
      }
    }
  }
}
