.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-sora);

  .backgroundImage {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 0;

    .bgImage {
      object-fit: cover;
      z-index: -1;
      animation: zoomOut 8s ease-out forwards;
      transform: scale(1.2);
    }

    @keyframes zoomOut {
      from {
        transform: scale(1.2);
      }

      to {
        transform: scale(1);
      }
    }

    a {
      .logo {
        background-image: url('/logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 400px;
        height: 140px;
        position: absolute;
        margin-left: -50px;
      }
    }

    @media (max-width: 768px) {
      a {
        .logo {
          width: 350px;
          height: 70px;
          margin: 0px;
          margin-left: 30px;
        }
      }
    }
  }

  .formWrapper {
    z-index: 1;
    position: absolute;

    @media (max-width: 480px) {
      width: 90%;
      display: flex;
      align-items: center;

      .container {
        width: 100%;
        background-color: red;
      }
    }

    .container {
      background-color: #c9c9c948;
      width: 460px;
      min-height: 380px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

      .formOptions {
        width: 100%;
        min-height: 70px;
        display: flex;
        flex: row;
        color: var(--primary-color);
        justify-content: space-between;
        border-bottom: 1px solid var(--primary-color);

        .seletedButton {
          background-color: transparent;
          color: var(--primary-color);
        }

        button {
          width: 50%;
          background-color: var(--primary-color);
          border: none;
          font-size: var(--font-size-h2);
          font-weight: normal;
          color: var(--secondary-color);
          cursor: pointer;
          font-size: 1.6rem;

          &:first-child {
            border-top-left-radius: 20px;
          }

          &:last-child {
            border-top-right-radius: 20px;
          }
        }
      }

      .title {
        text-align: center;
        font-size: 1.60rem;
        font-weight: 400;
        color: var(--primary-color);
        margin-top: 20px;
      }

      .formArea {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
        }

        .loginForm {
          margin-bottom: 45px;
        }
      }
    }
  }
}
